<template>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="presentationHead">
                <h2 class="m-0">Account Setting</h2>
            </div>              
            <div class="presentationBody">
                
            </div>
        </div>
        <div class="col"></div>
    </div>
</template>

<script>
    import notify from '../shared/Notify'
    import common from '../shared/Common';

    export default {
        props: ['userProfile'],
        name: "StoryBoard",
        data: function(){
            return {
                showLoader: false
            }
        },
        created: function () {
        },
        methods: {
           //
        },
        mounted() {
            console.log(this.userProfile);
            console.log('Component mounted.')
        }
    }
</script>