<template>
    <div>
        <div class="row mb-2">
            <div class="col">
                <button type="button" class="btn btn-primary float-right" @click.prevent="addUserModal()">New User</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="presentationHead">
                    <h2 class="m-0">
                        Manage Users
                    </h2>
                </div>              
                <div class="presentationBody">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Name</th>
                                <th scope="col">Role</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users_list" :key="index">
                                <td> {{ user.email }} </td>
                                <td> {{ user.name }} </td>
                                <td> {{ userRoles[user.user_roles_id] }} </td>
                                <td> {{ user.created_at }} </td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm" @click.prevent="editUserModal(user)">Edit</button>
                                    <button 
                                        v-if="userRoles[user.user_roles_id] != 'Admin'" 
                                        type="button" 
                                        class="btn btn-danger btn-sm"
                                        @click.prevent="deleteUser(user.id)"
                                    >Delete</button>
                                </td>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="editUserModel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="email" v-model="user.email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" v-model="user.name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" placeholder="Password" v-model="user.new_password">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click.prevent="updateUser()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="addUserModel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="email" v-model="user.email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" v-model="user.name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="role" class="col-sm-2 col-form-label">Role</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="role" v-model="user.role">
                                        <option v-for="(role, index) in userRoles" :key="index" :value="index">{{ role }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="password" placeholder="Password" v-model="user.new_password">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click.prevent="addUser()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import notify from '../shared/Notify'
    import common from '../shared/Common';

    export default {
        props: ['users', 'userRoles'],
        name: "StoryBoard",
        data: function(){
            return {
                showLoader: false,
                user: {
                    id: 0,
                    name: '',
                    email: '',
                    role: '',
                    new_password: ''
                },
                users_list: []
            }
        },
        created: function () {
        },
        methods: {
           editUserModal: function(user) {
               this.user.id = user.id;
               this.user.email = user.email;
               this.user.name = user.name;
               $('#editUserModel').modal();
           },

           updateUser: function() {
               Axios.post('update-users/'+this.user.id, this.user).then((response) => {
                    this.showLoader = false;
                    if (response.data.success) {
                        notify.methods.notifySuccess(response.data.message);
                        this.users_list = response.data.data;
                        $('#editUserModel').modal('hide');
                    } else {
                        if (response.data.error.statusCode === 103) {
                            notify.methods.notifyError(response.data.error.errorDescription);
                        } else {
                            notify.methods.notifyError(response.data.error.message);
                        }
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
           },

           addUser: function() {
               Axios.post('add-users/'+this.user.id, this.user).then((response) => {
                    this.showLoader = false;
                    if (response.data.success) {
                        notify.methods.notifySuccess(response.data.message);
                        this.users_list = response.data.data;
                        $('#addUserModel').modal('hide');
                        this.user = {
                            id: 0,
                            name: '',
                            email: '',
                            new_password: ''
                        };
                    } else {
                        if (response.data.error.statusCode === 103) {
                            notify.methods.notifyError(response.data.error.errorDescription);
                        } else {
                            notify.methods.notifyError(response.data.error.message);
                        }
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
           },

           addUserModal: function() {
                this.user = {
                    id: 0,
                    name: '',
                    email: '',
                    new_password: ''
                };
                $('#addUserModel').modal();
           },

           deleteUser: function(id) {
               Axios.delete('delete-users/'+id).then((response) => {
                    this.showLoader = false;
                    if (response.data.success) {
                        notify.methods.notifySuccess(response.data.message);
                        this.users_list = response.data.data;
                        this.user = {
                            id: 0,
                            name: '',
                            email: '',
                            new_password: ''
                        };
                    } else {
                        if (response.data.error.statusCode === 103) {
                            notify.methods.notifyError(response.data.error.errorDescription);
                        } else {
                            notify.methods.notifyError(response.data.error.message);
                        }
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
           }
        },
        mounted() {
            console.log(this.userRoles);
            this.users_list = this.users;
            console.log('Component mounted.')
        }
    }
</script>