.butt{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: solid 2px #fff;
    font-size: 19px;
    font-family: 'AvenirLT-Medium';
    color: #4567a4;
    padding-right: 130px;
    text-shadow: 0px 2px 0px white;
}
.links{
    position: absolute;
    top: 27px;
    right: 15px;
    color: #aec1cb;
    text-shadow: 0px 1px 0px white;
    font-family: 'AvenirLT-Medium';
    text-transform: uppercase;
    font-size: 1em;
}

 /*Presentation*/
.presentationHead{
    border-radius: 7px 7px 0 0;
    background-color: rgb(53, 81, 131);
    color: #fff;
    padding: 7px 15px;
    border-bottom: solid 5px #2c436c;
}
.presentationHead h2{
    font-size: 24px;
}
.presentationBody{
    background-color: #ecf4f8;
    padding: 7px 15px;
}
.presentationBodyTitle , .bodyQuestion, .titleColor{
    color: #355183;
}
.btn-custom{
    background: -webkit-linear-gradient(top, #ff6400, #d85500) !important;
    border: 1px solid #d85500;
}
.btn-custom:hover{
    border: 1px solid #d85500;
}
.storyInfo{
    background: #eaeaea;
    padding: 22px 26px 20px 26px;
    color: #6f6f6f;
    border-radius: 5px;
}
.transition{
    border: 12px solid #bedceb;
    border-radius: 5px;
}
.transition-sm{
    border-width: 6px;
}
.insightQuestion{
    background: #355183;
    padding: 15px 25px;
    border-radius: 5px;
    color: #fff;
}
.insightTransition{
    margin: 38px 0 33px 15px;
    border: solid 2px #fff;
    background: #b6d7e8;
    padding: 15px 25px 0px 25px;
    color: #355183;
    border-radius: 8px;
}
.insightQuestion h4{
    font-size: 16px;
}
.insightTransition h5{
    font-size: 14px;
}
.bgGrey{
    background-color: #eaeaea;
    border-radius: 5px;
    color: #355183;
}
.textGrey{
    color: #6f6f6f;
}
.bgLightBlue{
    background-color: #ecf4f8;
    border-radius: 8px;
}
.actionContent{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.sub-head .btn-box,
.sub-head .search-box{
    display: inline-block;
}


.sub-head .search-box{
    float: right;
}

.bg-blue{
    background-color: #373c63;
}


.inlineForm{
    display: table;
    width: 100%;
}
.inlineForm label,
.inlineForm .input,
.inlineForm .select-input{
    display: table-cell;
    padding: 0 5px;
}


.inlineForm label{
    width: 20%
}



.inlineForm .input{
    width: 60%
}


.inlineForm .select-input{
    width: 20%
}


.presentation-list ul.list-link{
    padding: 0;
    margin: 0;
}


.presentation-list ul.list-link li{
    list-style-type: none;
    display: inline-block;
    padding: 0 7px;
}

.presentation-list ul.list-link li a,
.presentation-list ul.list-link li span{
    display: block;
    text-align: center;
}


.presentation-list ul.list-link li a{
    font-size: 18px;
    color: #b3b3b3;
    width: 30px;
    height: 30px;
    margin: 0 auto 14px auto;
    background: #fff;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0 -3px 0 rgba(34,34,33,0.05);
    -moz-box-shadow: 0 -3px 0 rgba(34,34,33,0.05);
    box-shadow: 0 -3px 0 rgba(34,34,33,0.05);
    border: solid 2px #fff;
}


.presentation-title{
    padding: 10px 0;
}


.presentation-title h3{
    margin: 0;
}


.presentationHead p{
    margin: 0;
}

.insightQuestion {
    position: relative;
}

.insightQuestion .icon{
    position: absolute;
    right: 15px;
    top: 14px;
}


.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;    
    border-top: 20px solid #ff7878;
  }


  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;    
    border-left: 10px solid green;
  }


  .arrowClass:after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ff7878;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}
.lastArrowClass:after {
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 20px solid #ff7878;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    right: 22px;
    top: 109%;
    transform: translateY(-50%);
}

.zone:nth-child(1) {
    /* clip-path: polygon(50% 0, 100% 100%, 0% 100%); */
    margin: 5px 38%;
   
 }
 .zone:nth-child(2) {
    /* clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%); */
    margin: 5px 16%;
   
 }
 .zone:nth-child(3) {
    /* clip-path: polygon(16.5% 0, 83% 0, 100% 100%, 0 100%); */
    margin: 5px 3%;
   
 }

/* 
 .pyramid{
    shape-outside: polygon(310px 0, 130px 405px, 558px
 405px);
 } */


 .pyramid{ 

/* background-image:url(../img/py.png); */
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
height: 100%;
width: 100%;
}


 .zone{
    /* background: rgb(214, 214, 214); */
    background-blend-mode: lighten;
    color: #363636;
    text-align: center;
    height: 200px;
    
 }

 .zone .sub-box:hover{
    /* background-color: rgba(202, 197, 94, 0.2); */
    background-color: #bedceb;
 }

 .presentation-list ul.list-link li a.active {
    background: #f19b00;
    color: #000;
 }

 .sub-box {
    vertical-align: middle;
    min-width: 125px;
    max-width: 155px;
    padding: 20px 10px;
    border-right: 3px solid #fff;
    background: rgb(214, 214, 214);
    overflow-wrap: break-word;
    z-index: 100;
    cursor: pointer;
}

.sub-box.selected {
    background-color: #bedceb;
}

.sub-box:last-child {
    border-right: none;
}

.top-box {
    padding: 88px 0;
    max-height: 200px;
    background: rgb(214, 214, 214);
}

.top-box:hover {
    /* padding: 88px 0; */
    background: #bedceb;
    cursor: pointer;
}

.cloud{
    background-image:url(../img/cloudBg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 164px;
    width: 100%;
    z-index: 1;
}

.wrapper{
    margin-top: -28px;
    position: relative;
}


.wrapper .textImg{
    position: absolute;
    top: 85px;
    left: -138px;
    transform: rotateZ(-30deg);
}
.cloud{
    position: relative;
}

.cloudText{
    position: absolute;
    top:60%;
    left:50%;
    bottom:auto;
    right: auto;
    transform: translate(-50%,-60%);
}


.card-body .badge{
    border-radius: 50%;
    padding: 7px 8px;
    margin-left: 3px;
    background-color: #fff;
    color: rgb(252, 99, 0);
}