<template>
    <div class="">

        <div class="row">
            <div class="col-md-3">
                <div class="presentation-title">
                    <h3>Presentation Blueprint </h3>
                </div>
            </div>
            <div class="col-md-9">
                <div class="presentation-list">
                    <ul class="list-link">
                        <li>
                            <a v-bind:href="profileUrl" class="active">1</a>
                            <span> Presentation Profile</span>
                        </li>
                        <li>
                            <a v-bind:href="pyramidUrl" class="active">2</a>
                            <span> Pyramid of Planned Outcome</span>
                        </li>
                        <li>
                            <a v-bind:href="storyboardUrl" class="active">3</a>
                            <span> Storyboard Sequence</span>
                        </li>
                        <li>
                            <a v-bind:href="openingUrl" class="active">4</a>
                            <span>Opening and Closing</span>
                        </li>

                        <li>
                            <a v-bind:href="blueprintUrl" class="active">5</a>
                            <span>Presentation Blueprint</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="printHtml">

            <div class="row mt-5">
                <div class="col-sm-8">
                    <hr>
                    <table class="border-0 w-100">
                        <tr>
                            <td><h5>Name</h5></td>
                            <td><h5>Date</h5></td>
                            <td><h5>Audience</h5></td>
                        </tr>
                        <tr class="textGrey">
                            <td>{{ user.name }}</td>
                            <td>{{ getDate(presentationProfile.created_at) }}</td>
                            <td>{{ JSON.parse(presentationProfile.presentation_profile_data).presentationProfile.audience }}</td>
                        </tr>
                    </table>
                    <hr>
                </div>
                <div class="col-sm-4 m-auto">
                    <div class="actionContent">
                        <h4>Action</h4>
                        <p class="textGrey">{{ JSON.parse(presentationProfile.presentation_profile_data).audienceDefination.specific_action }}</p>
                    </div>
                </div>
            </div>

            <div class="leadershipMain titleColor">
                <h4>{{ client.title }}</h4>
                <div class="problemAnalysis bgLightBlue p-3">
                    <h5>OPENING AND PROBLEM ANALYSIS</h5>
                    <div class="problem">
                        <h6 class="mb-0">Problem:</h6>
                        <div class="textGrey"> {{ JSON.parse(presentationProfile.presentation_profile_data).audienceProblem.audience_problem }} </div>
                    </div>
                    <div class="problem mt-2">
                        <h6 class="mb-0">It has these important manifestations:</h6>
                        <div class="textGrey">
                            <ul>
                                <li v-for="(manifestation, index) in JSON.parse(presentationProfile.presentation_profile_data).manifestations" :key="index">
                                    {{ manifestation.understand }} ({{ manifestation.body_question }})
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="problem">
                        <h6 class="mb-0">Allusion to the Solution:</h6>
                        <div class="textGrey"> {{ openingClosing.allude_solution }} </div>
                    </div>
                    <div>
                        <h5>
                            TRANSITION
                        </h5>
                        <div class="textGrey"> {{ storyBoard.firstInsight }} </div>
                    </div>

                </div><!-- EO PROBLEM ANALYTICS-->
                <div class="arrow-down"></div>


                <div class="mt-3">
                    <div class="row insightsRow">
                        <div class="col" v-for="(keyInsight, index) in pyramidOutcome.keyInsigts" :key="index">
                            <div class="bgLightBlue p-3">
                                <h5><strong><span class="text-uppercase">{{ numberToWords(index + 1) }}</span> INSIGHT </strong></h5>
                                <p class="textGrey">
                                    {{ keyInsight.key }}
                                </p>
                                <span>Data:</span>
                                <ul>
                                    <li v-for="(dataPoint, d_index) in keyInsight.dataPoints" :key="d_index">
                                        {{ dataPoint.point }} ({{ dataPoint.title }})
                                    </li>
                                </ul>
                                <div>
                                    <h6> <strong>TRANSITION</strong> </h6>
                                    <p v-if="(index + 1) < storyBoard.transitions.length"> {{ storyBoard.transitions[index + 1] }} </p>
                                    <p v-if="(index + 1) == storyBoard.transitions.length"> {{ storyBoard.closingInsight }} </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bgLightBlue mt-4">
                        <div class="p-4">
                            <h5>
                                <strong>Closing</strong>
                            </h5>
                            <p class="textGrey">{{ openingClosing.closing_tag }}</p>
                        </div>
                    </div>

                </div><!-- EO INSIGHT MAIN-->
            </div>

        </div>

        <div class="linkMain my-3">
            <button @click.prevent="getPdf" class="btn btn-primary btn-custom save-pdf" >
                Save as PDF
            </button>

            <button @click="getWord" href="#" class="btn btn-primary btn-custom" type="button">
                Save as word
            </button>

            <a href="#" class="btn btn-primary btn-custom" >
                Save as Handout
            </a>

            <button @click.prevent="printCanvas" class="btn btn-primary btn-custom" >
                Print this Blueprint
            </button>

            <a href="#" class="btn btn-primary btn-custom" >
                Open the journal
            </a>
        </div>


        <notifications animation-type="velocity"/>
        <loading v-show="showLoader"></loading>
    </div>
</template>

<script>
    import notify from './shared/Notify'
    import common from './shared/Common';
    import * as docx from "docx";
    import { Document, PageOrientation, Packer, Paragraph } from "docx";
    var moment = require('moment');
    var converter = require('number-to-words');
    import jsPDF from 'jspdf';
    var doc = new jsPDF({
        orientation: 'portrait',
        unit: 'mm',
        format: [1450, 1500]
    });
    import html2canvas from 'html2canvas';

    export default {
        props: [
            'clientId', 'pyramidOutcome', 'presentationProfile', 'storyBoard',
            'openingClosing', 'user', 'createdAt', 'client'
        ],
        name: "BlueprintComponent",
        data: function(){
            return {
                showLoader: false,
                profileUrl: "/",
                pyramidUrl: "/",
                storyboardUrl: "/",
                openingUrl: "/",
                blueprintUrl: "/",
            }
        },
        created: function () {
        },

        methods: {
            numberToWords: function(number) {
                return converter.toWordsOrdinal(number);
            },

            getDate: function(date) {
                return moment(date).format("LL");
            },

            getPdf: function() {
                html2canvas(document.getElementById("printHtml"), {windowWidth: 1110, windowHeight: 814}).then(function(canvas) {
                    var imgData = canvas.toDataURL();

                    doc.addImage(imgData, 'JPEG', 3, 3);
                    doc.save("download.pdf");
                });
            },

            getWord: function() {
                var FileSaver = require('file-saver');
                html2canvas(document.getElementById("printHtml"), {windowWidth: 944, windowHeight: 566}).then(function(canvas) {
                    var imgData = canvas.toDataURL();

                    const doc = new Document(undefined, {
                        orientation: PageOrientation.LANDSCAPE,
                    });

                    const image1 = doc.createImage(imgData, 944, 566);

                    image1.scale(1);

                    const packer = new Packer();
                    packer.toBlob(doc).then((blob) => {
                        console.log(blob);
                        FileSaver.saveAs(blob, "download.docx");
                    });

                });
            },


            printCanvas: function()
            {
                html2canvas(document.getElementById("printHtml"), {windowWidth: 1110, windowHeight: 814}).then(function(canvas) {
                    var dataUrl = canvas.toDataURL(); //attempt to save base64 string to server using this var  
                    var windowContent = '<!DOCTYPE html>';
                    windowContent += '<html>'
                    windowContent += '<head><title>Print canvas</title></head>';
                    windowContent += '<body>'
                    windowContent += '<img src="' + dataUrl + '">';
                    windowContent += '</body>';
                    windowContent += '</html>';
                    var printWin = window.open('','','width=1110,height=814');
                    printWin.document.open();
                    printWin.document.write(windowContent);
                    printWin.document.close();
                    printWin.focus();
                    printWin.print();
                    printWin.close();
                });
            },

            setArrowClass: function() {
                var lastElement = false;
                $(".insightsRow .bgLightBlue.p-3").each(function() {
                    if (lastElement) {
                        lastElement.addClass("arrowClass");
                    }
                    lastElement = $(this);
                }).last().addClass("lastArrowClass");
            }
        },
        mounted() {
            console.log(this.storyBoard);
            // console.log(this.clientId, this.presentationProfile, this.pyramidOutcome, this.storyBoard, this.openingClosing, this.user, this.createdAt);
            this.setArrowClass();
            this.profileUrl = "/client-presentations/"+this.clientId+"/"+this.presentationProfile.id+"/profile";
            this.pyramidUrl = "/client-presentations/"+this.clientId+"/"+this.presentationProfile.id+"/pyramid";
            this.storyboardUrl = "/client-presentations/"+this.clientId+"/"+this.presentationProfile.id+"/storyboard";
            this.openingUrl = "/client-presentations/"+this.clientId+"/"+this.presentationProfile.id+"/opening";
            this.blueprintUrl = "/client-presentations/"+this.clientId+"/"+this.presentationProfile.id+"/blueprint";
        },
        computed: {
        }
    }
</script>