<template>
    <div class="container">
        <div>
            <div class="float-left">
                <a href="#" class="btn btn-primary" role="button">Visit the Vault</a>
                <a href="#" class="btn btn-success" @click.prevent="openCreateClientModal">New Client</a>
            </div>
            <div class="float-lg-right">
                <input type="text" class="form-control" placeholder="Search" v-model="search">
            </div>
            <div class="clearfix"></div>

            <div class="client-list mt-3">
                <div class="row">
                    <div class="col-md-4 d-none new-client">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                            <h4>New Client</h4>
                                            <!-- <h2 class="butt" style="font-size: 19px; color: #4567a4;">{{ client.title }}</h2> -->
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-danger btn-sm" title="Delete this Clients and all of its presentations" @click.prevent="openCreateClientModal">Cancel</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your title" v-model="formData.title">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your description" v-model="formData.description">
                                </div>
                                <button type="submit" class="btn btn-success" @click.prevent="createClient">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" v-for="client in filteredItems" :key="client.id">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-7">
                                            <h4>{{ client.title }}</h4>
                                            <!-- <h2 class="butt" style="font-size: 19px; color: #4567a4;">{{ client.title }}</h2> -->
                                    </div>
                                    <div class="col-md-5">
                                            <button type="button" class="btn btn-primary btn-sm" title="Change the name or description of this Client" @click="editClient(client)">Edit</button>
                                            <button type="button" class="btn btn-danger btn-sm" title="Delete this Clients and all of its presentations" @click="deleteClient(client.id)">Delete</button>
                                            <!-- <a href="#" data-action="editClient" title="Change the name or description of this Client" @click="editClient(client)">Edit</a>-->
                                            <!--<a href="#" data-action="deleteClient" title="Delete this Clients and all of its presentations" @click="deleteClient(client.id)">Delete</a>-->
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                                <!--<span class="links" style="position: absolute; top: 27px;right: 15px;color: #aec1cb;text-shadow: 0px 1px 0px white;font-family: 'AvenirLT-Medium';text-transform: uppercase;font-size: 1em;">

                                 </span>-->
                                <hr>
                                <div>
                                    <span>{{ client.description }}</span>
                                </div>
                                <div class="buttons" style="width: 210px;margin: 0 auto;">
                                    <a href="#" class="btn btn-round" style="background-color: #fc6300;border-radius: 30px; width: 100%; margin-bottom: 10px;"  data-action="newPresentation" @click="openCreatePresentationModal(client)"><b>New Presentation</b></a><br>
                                    <a v-bind:href="'/client-presentations/'+ client.id" class="btn btn-primary" style="border-radius: 30px; width: 100%; margin-bottom: 10px;" data-action="showPresentations">
                                        <b>Show Presentations</b>
                                    </a>
                                </div>
                                <div class="mt-1">
                                    <div class="float-left" style="font-size: 12px;">Created:  <span>{{ client.created_at |  moment("MM.DD.YYYY") }}</span></div>
                                    <div class="float-right" style="font-size: 12px;">Updated:  <span>{{ client.updated_at |  moment("MM.DD.YYYY") }}</span></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modelClient">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="createClient" id="clientForm" class="form-horizontal">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Add New Client</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Title</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Title" v-model="formData.title">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Description</label>
                                    <input type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter Description" v-model="formData.description">
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" id="modelPresentation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="createPresentation" id="presentationForm" class="form-horizontal">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">{{ clientName }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="presentationTitle">Title</label>
                                    <input type="text" class="form-control" id="presentationTitle" placeholder="Enter Title" v-model="presentationFormData.title">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="presentationDescription">Description</label>
                                    <input type="text" class="form-control" id="presentationDescription" placeholder="Enter Description" v-model="presentationFormData.description">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="salesPresentation" v-model="presentationFormData.is_sales_presentation">
                                    <label class="form-check-label" for="salesPresentation"> Is this a Sales Presentation? </label>
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <notifications animation-type="velocity"/>
        <loading v-show="showLoader"></loading>
    </div>
</template>

<script>
    import notify from './shared/Notify'
    import common from './shared/Common';

    require('../main');
    export default {
        name: "HomeComponent",
        data: function(){
            return {
                showLoader: false,
                url: 'create-folder',
                formData: {
                    id: 0,
                    title: '',
                    description: ''
                },
                presentationFormData: {
                    id: 0,
                    title: '',
                    description: '',
                    client_id: 0,
                    is_sales_presentation: 1
                },
                clientList: [],
                lists:[],
                search:'',
                clientName: ''
            }
        },
        created: function () {
            this.showLoader = true;
            this.getClientList();
        },

        methods: {
            // get the list of all clients
            getClientList: function () {
                this.showLoader = true;
                const url = common.data().serverPath + 'getClients';

                Axios.get(url).then((response) => {
                    this.showLoader = false;
                if (response.data.success) {
                    this.clientList = response.data.data.records;
                } else {
                    notify.methods.notifyError(response.data.error.message);
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please refresh the page.');
            })
            },

            // Delete client
            deleteClient: function (id) { // save annual rate
                if (confirm("Are you sure you want to delete this Client?")) {
                    this.showLoader = true;
                    const url = common.data().serverPath + 'delete-Client/' + id;
                    Axios.delete(url)
                            .then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        notify.methods.notifySuccess(response.data.message);
                        this.getClientList();

                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                })
                .catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
                }
            },


            // edit client
            editClient(client){
                this.formData = {
                    id: client.id,
                    title: client.title,
                    description: client.description
                };
                $(".new-client").toggleClass("d-none");
            },

            // create/update new client
            createClient: function () {
                this.showLoader = true;
                const url = common.data().serverPath + 'create-client';

                Axios.post(url, this.formData).then((response) => {
                    this.showLoader = false;
                if (response.data.success) {
                    notify.methods.notifySuccess(response.data.message);
                    $(".new-client").toggleClass("d-none");
                    this.getClientList();
                } else {
                    if (response.data.error.statusCode === 103) {
                        notify.methods.notifyError(response.data.error.errorDescription);
                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please try again.');
            })
            },


            // create/update new presentation
            createPresentation: function () {
                this.showLoader = true;
                const url = common.data().serverPath + 'create-presentation';

                Axios.post(url, this.presentationFormData).then((response) => {
                    this.showLoader = false;
                if (response.data.success) {
                    notify.methods.notifySuccess(response.data.message);
                    $('#modelPresentation').modal('hide');
                    window.location = common.data().serverPath + 'client-presentations/' + this.presentationFormData.client_id;
                    this.getClientList();
                } else {
                    if (response.data.error.statusCode === 103) {
                        notify.methods.notifyError(response.data.error.errorDescription);
                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please try again.');
            })
            },


            /**
             * Open create folder pop-up
             */
            openCreateClientModal: function() {
                this.formData = {
                    id: 0,
                    title: '',
                    description: ''
                };
                $(".new-client").toggleClass("d-none");
            },
            /**
             * open create presentation pop-up
             */
            openCreatePresentationModal: function(client) {
                this.presentationFormData = {
                    id: 0,
                    title: '',
                    description: '',
                    client_id: client.id,
                    is_sales_presentation: 1
                };
                this.clientName = client.title;
                $('#modelPresentation').modal('show');
            }
        },
        computed: {
            filteredItems() {
                return this.clientList.filter(client => {
                            return client.title.indexOf(this.search.toLowerCase()) > -1
                        })
            }
        }
    }
</script>