<template>
    <div class="">
       
            <div class="row">
                <div class="col-md-3">
                    <div class="presentation-title">
                        <h3>Presentation Profile</h3>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="presentation-list">
                        <ul class="list-link">
                            <li>
                                <a v-bind:href="profileUrl" class="active">1</a>
                                <span> Presentation Profile</span>
                            </li>
                            <li>
                                <a v-bind:href="pyramidUrl" class="active">2</a>
                                <span> Pyramid of Planned Outcome</span>
                            </li>
                            <li>
                                <a v-bind:href="storyboardUrl" class="active">3</a>
                                <span> Storyboard Sequence</span>
                            </li>
                            <li>
                                <a v-bind:href="openingUrl" class="active">4</a>
                                <span>Opening and Closing</span>
                            </li>

                            <li>
                                <a v-bind:href="blueprintUrl">5</a>
                                <span>Presentation Blueprint</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="storyMain mt-5">
                <h4 class="titleColor">Opening and Problem Analysis</h4>
                <h5 class="titleColor">Name the Problem</h5>
                <div class="storyInfo mt-5">{{ presentationProfile.audienceProblem.audience_problem }}</div>

                <div class="mt-5">
                    <h5 class="titleColor">Deconstruct and illustrate the problem's manifestations</h5>
                    <div class="">
                        <div class="row mt-3" v-for="(manifestation, index) in this.presentationProfile.manifestations" :key="index">
                            <div class="col-md-5 textGrey">
                                {{ index + 1 }}.	{{ manifestation.body_question }}
                            </div>
                            <div class="col-md-7">
                                <div class="transition transition-sm">
                                    <div class="form-group mb-0">
                                        <input type="text" class="form-control border-0" v-model="manifestation_solutions[index]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mt-4">
                    <h5 class="titleColor">Allude to the Solution</h5>
                    <div class="transition">
                        <div class="form-group mb-0">
                            <textarea 
                                class="w-100 border-0 form-control" 
                                rows="3" 
                                placeholder="Follow the instructions in the tutorial video to the right and the tips at the Question Mark icon above to enter a summary of your opening here. Refer to your analysis of the audience problem in the sidebar to the right."
                                v-model="allude_solution"
                            ></textarea>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h4 class="titleColor">Transition to the First Insight</h4>
                    <div class="mt-4 bgGrey">
                        <p class="p-4">{{ storyBoard.firstInsight }}</p>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="titleColor">Run of Insights</h4>
                    <div class="insightMain">
                        <div v-for="(keyinsigt, index) in pyramidOutcome.keyInsigts" :key="index">
                            <div class="insightQuestion">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 class="m-0">
                                            <span class="text-uppercase">{{ numberToWords(index + 1) }}</span> INSIGHT
                                        </h4>
                                    </div>
                                    <div class="col-md-8">
                                        {{ keyinsigt.key }}
                                    </div>
                                </div>
                            </div>
                            <div class="insightTransition bgGrey mt-5"  v-if="pyramidOutcome.keyInsigts.length > (index + 1)">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5>
                                            <strong>
                                                <span class="text-capitalize">{{ numberToWords(index + 1) }}</span> Transition
                                            </strong>
                                        </h5>
                                    </div>
                                    <div class="col-md-10">
                                        <h5>
                                            {{ storyBoard.transitions[index + 1] }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4 class="titleColor">Transition to the Closing</h4>
                            <div class="mt-4 bgGrey">
                                <p class="p-4">{{ storyBoard.closingInsight }}</p>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h4 class="titleColor">Closing</h4>
                            <div class="transition">
                                <div class="form-group mb-0">
                                    <textarea 
                                        class="w-100 border-0 form-control" 
                                        rows="2" 
                                        placeholder="Follow the instructions in the tutorial video at the top and the tips at the Question Mark icon immediately above to enter a summary of your closing here." 
                                        v-model="closing_tag"
                                    ></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="my-5 ml-5">
                            <button class="btn btn-primary btn-custom" @click.prevent="storeOpeningClosing()">
                                Move to Presentation Blueprint
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        

        <notifications animation-type="velocity"/>
        <loading v-show="showLoader"></loading>
    </div>
</template>

<script>
    import notify from './shared/Notify'
    import common from './shared/Common';
    var converter = require('number-to-words');

    require('../main');
    export default {
        props: ['clientId', 'pyramidOutcome', 'presentationProfile', 'storyBoard', 'presentationObj'],
        name: "OpeningComponent",
        data: function(){
            return {
                showLoader: false,
                allude_solution: '',
                closing_tag: '',
                manifestation_solutions: [],
                profileUrl: "/",
                pyramidUrl: "/",
                storyboardUrl: "/",
                openingUrl: "/",
                blueprintUrl: "/",
            }
        },
        created: function () {
        },

        methods: {
            numberToWords: function(number) {
                return converter.toWordsOrdinal(number);
            },

            storeOpeningClosing: function() {
                var data = {
                    allude_solution: this.allude_solution, 
                    closing_tag: this.closing_tag, 
                    manifestation_solutions: this.manifestation_solutions,
                    clientId: this.clientId,
                    presentationId: this.presentationObj.id
                }

                const url = common.data().serverPath + '/client-presentations/opening-closing';
                Axios.post(url, data).then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        window.location.replace('blueprint');
                    } else {
                        if (response.data.error.statusCode === 103) {
                            notify.methods.notifyError(response.data.error.errorDescription);
                        } else {
                            notify.methods.notifyError(response.data.error.message);
                        }
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
            },

            getOpeningClosing: function() {
                Axios.get('/get-opening-closing/' + this.clientId + '/' + this.presentationObj.id + '/get').then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        this.allude_solution = response.data.data.allude_solution;
                        this.closing_tag = response.data.data.closing_tag;
                        this.manifestation_solutions = response.data.data.manifestation_solutions;
                    } else {
                        // notify.methods.notifyError(response.data.error.message);
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please refresh the page.');
                })
            }
        },
        mounted() {
            this.getOpeningClosing();
            this.profileUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/profile";
            this.pyramidUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/pyramid";
            this.storyboardUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/storyboard";
            this.openingUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/opening";
            this.blueprintUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/blueprint";
        },
        computed: {
        }
    }
</script>