<template>
    <div>
        <div>
            

            <div class="sub-head">
                <div class="text-left btn-box">
                    <a v-bind:href="'/home'" class="btn btn-primary" role="button">Back to Client</a>
                </div>
                <div class="text-right search-box">
                    <input class="form-control" type="text" placeholder="Search" v-model="search">
                </div>
            </div>

            <div class="client-list mt-5">
                <div class="row">
                    <div class="col-md-4 m-auto">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="float-left">
                                    <h2 class="butt">{{ clientDetails.title }}</h2>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                                <div>
                                    <h4>{{ clientDetails.description }}</h4>
                                </div>
                                <div class="buttons" style="width: 210px;margin: 0 auto;">
                                    <a href="#" class="btn btn-round" style="background-color: #fc6300;border-radius: 30px; width: 100%; margin-bottom: 10px;"  data-action="newPresentation" @click="openCreatePresentationModal(clientDetails)"><b>New Presentation</b></a><br>
                                    <a href="#presentationList" class="btn btn-primary" style="border-radius: 30px; width: 100%; margin-bottom: 10px;" data-action="showPresentations">
                                        <b>Show Presentations </b> <span class="badge badge-secondary"> {{ filteredItems.length }} </span>
                                    </a>
                                </div>
                                <div class="mt-1">
                                    <div class="float-left" style="font-size: 12px;">Created:  <span>{{ clientDetails.created_at |  moment("MM.DD.YYYY") }}</span></div>
                                    <div class="float-right" style="font-size: 12px;">Updated:  <span>{{ clientDetails.updated_at |  moment("MM.DD.YYYY") }}</span></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-4 offset-md-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="float-left">
                                    <h2 class="butt" style="font-size: 19px; color: #4567a4;">Client Name</h2>
                                </div>
                                <div class="clearfix"></div>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>-->
            </div>
        </div>
        <div class="client-list pt-5 bg-blue" id="presentationList">
            <div class="row d-flex justify-content-center">
                <div v-for="(presentation, index) in filteredItems" class="col-md-3" :key="index">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="text-body">
                                <a href="#" class="mr-2" @click="editPresentation(presentation)">EDIT</a>
                                <a href="" class="mr-2">COPY</a>
                                <a href="" class="mr-2">MOVE</a>
                                <a href="" class="mr-2">SHARE</a>
                                <button 
                                    type="button" 
                                    class="btn btn-danger btn-sm" 
                                    title="Delete this Clients and all of its presentations" 
                                    @click.prevent="deleteClient(presentation.id)"
                                >Delete</button>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                            <div class="text-body">
                                <h4>{{presentation.title}}</h4>
                            </div>
                            <div class="text-body">
                                <span>{{presentation.description}}</span>
                            </div>
                                <hr>
                            <div class="text-body">
                                <!--<a :href="'profile-presentations'" class="btn btn-primary" >
                                    <b>Continue Working</b>
                                </a>-->

                                <a v-bind:href="clientDetails.id + '/' + presentation.id + '/profile'" class="btn btn-primary" >
                                    <b>Continue Working</b>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--presentation model-->
        <div class="modal" id="modelPresentation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form v-on:submit.prevent="createPresentation" id="presentationForm" class="form-horizontal">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">{{ clientName }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="presentationTitle">Title</label>
                                    <input type="text" class="form-control" id="presentationTitle" placeholder="Enter Title" v-model="presentationFormData.title">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="presentationDescription">Description</label>
                                    <input type="text" class="form-control" id="presentationDescription" placeholder="Enter Description" v-model="presentationFormData.description">
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="salesPresentation" v-model="presentationFormData.is_sales_presentation">
                                    <label class="form-check-label" for="salesPresentation"> Is this a Sales Presentation? </label>
                                </div>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <notifications animation-type="velocity"/>
        <loading v-show="showLoader"></loading>
    </div>
    
</template>

<script>
    import notify from './shared/Notify'
    import common from './shared/Common';

    require('../main');
    export default {
        name: "PresentationComponent",
        data: function(){
            return {
                showLoader: false,
                url: 'create-folder',
                formData: {
                    id: 0,
                    title: '',
                    description: ''
                },
                presentationFormData: {
                    id: 0,
                    title: '',
                    description: '',
                    client_id: 0,
                    is_sales_presentation: 1
                },
                presentationList: [],
                lists:[],
                clientDetails: {},
                search:'',
                clientName: ''
            }
        },
        created: function () {
            this.showLoader = true;
            this.getPresentationList();
        },

        methods: {
            // get the list of all clients
            getPresentationList: function () {
                // GET ID FROM URL

                var currentUrl = window.location.pathname;
                //Break the path into segments
                var segments = currentUrl.split("/");
                var idIndex = segments.length - 1;


                this.showLoader = true;
                //const url = common.data().serverPath + 'getClients';

                Axios.get('/getClientPresentations/' + segments[idIndex]).then((response) => {
                    this.showLoader = false;
                if (response.data.success) {
                    this.presentationList = response.data.data.records;
                    this.clientDetails = response.data.data.clientDetails;
                } else {
                    notify.methods.notifyError(response.data.error.message);
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please refresh the page.');
            })
            },

            // Delete client
            deleteClient: function (id) { // save annual rate

                console.log('delete presentatnio');
                if (confirm("Are you sure you want to delete this Presentation?")) {
                    this.showLoader = true;
                    const url = common.data().serverPath + '/delete-presentation/' + id;
                    Axios.delete(url)
                            .then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        notify.methods.notifySuccess(response.data.message);
                        this.getPresentationList();
                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                })

                .catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
                }
            },


            // edit client
            editPresentation(presentation){
                this.presentationFormData = {
                    id: presentation.id,
                    title: presentation.title,
                    description: presentation.description
                };
                $('#modelPresentation').modal('show');
            },

            // create/update new client
            createClient: function () {
                this.showLoader = true;
                const url = common.data().serverPath + 'create-client';

                Axios.post(url, this.formData).then((response) => {
                    this.showLoader = false;
                if (response.data.success) {
                    notify.methods.notifySuccess(response.data.message);
                    $('#modelClient').modal('hide');
                    this.getClientList();
                } else {
                    if (response.data.error.statusCode === 103) {
                        notify.methods.notifyError(response.data.error.errorDescription);
                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please try again.');
            })
            },


            // create/update new presentation
            createPresentation: function () {
                this.showLoader = true;
                const url = common.data().serverPath + '/create-presentation';

                Axios.post(url, this.presentationFormData).then((response) => {
                    this.showLoader = false;
                if (response.data.success) {
                    notify.methods.notifySuccess(response.data.message);
                    $('#modelPresentation').modal('hide');
                    this.getPresentationList();
                } else {
                    if (response.data.error.statusCode === 103) {
                        notify.methods.notifyError(response.data.error.errorDescription);
                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please try again.');
            })
            },

            /**
             * Open create folder pop-up
             */
            openCreateClientModal: function() {
                this.formData = {
                    id: 0,
                    title: '',
                    description: ''
                };
                $('#modelClient').modal('show');
            },
            /**
             * open create presentation pop-up
             */
            openCreatePresentationModal: function(client) {
                this.presentationFormData = {
                    id: 0,
                    title: '',
                    description: '',
                    client_id: client.id,
                    is_sales_presentation: 1
                };
                this.clientName = client.title;
                $('#modelPresentation').modal('show');
            }
        },
        computed: {
            filteredItems() {
                return this.presentationList.filter(presentation => {
                            return presentation.title.indexOf(this.search.toLowerCase()) > -1
                        })
            }
        }
    }
</script>