<template>

    <div class="">
                <div class="row">
                    <div class="col-md-3">
                        <div class="presentation-title">
                            <h3>Presentation Profile</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="presentation-list">
                            <ul class="list-link">
                                <li>
                                    <a v-bind:href="profileUrl" class="active">1</a>
                                    <span> Presentation Profile</span>
                                </li>
                                <li>
                                    <a v-bind:href="pyramidUrl">2</a>
                                    <span> Pyramid of Planned Outcome</span>
                                </li>
                                <li>
                                    <a v-bind:href="storyboardUrl">3</a>
                                    <span> Storyboard Sequence</span>
                                </li>
                                <li>
                                    <a v-bind:href="openingUrl">4</a>
                                    <span>Opening and Closing</span>
                                </li>

                                <li>
                                    <a v-bind:href="blueprintUrl">5</a>
                                    <span>Presentation Blueprint</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>


        <div class="">                       
            <!-- <div class="sub-head">
                <div class="text-left btn-box">
                    <a href="#" class="btn btn-primary" role="button">Back to Client</a>
                </div>              
            </div> -->
            <div class="profileMain mt-5 form-horizontal">
                <div class="presentationHead">
                    <h2 class="m-0">Presentation Profile</h2>
                </div>
                <div class="presentationBody">
                    <div class="my-3 presentationBodyTitle">
                        <h4>Audiance Profile</h4>
                    </div>
                    <div class="form-group">
                        <label class="bodyQuestion" for="exampleFormControlTextarea11">Who is the audience?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea11" rows="2" v-model="presentationProfile.audience"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="bodyQuestion" for="exampleFormControlTextarea12">How much time do you have, and how interactive?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea12" rows="2" v-model="presentationProfile.intrective_time"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="bodyQuestion" for="exampleFormControlTextarea13">What is their current familiarity with the topic?
                        </label>
                        <textarea class="form-control" id="exampleFormControlTextarea13" rows="2" v-model="presentationProfile.current_familiarity"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="bodyQuestion" for="exampleFormControlTextarea14">What significant opinions/attitudes are held on this topic?
                        </label>
                        <textarea class="form-control" id="exampleFormControlTextarea14" rows="2" v-model="presentationProfile.significant_opinions"></textarea>
                    </div>

                    <div class="my-3 presentationBodyTitle">
                        <h4>Action Definition</h4>
                    </div>

                    <div class="form-group">
                        <label class="bodyQuestion" for="">Write the SPECIFIC action you want your audience to take. 
                        </label>
                        <textarea class="form-control" id="" rows="2" v-model="audienceDefination.specific_action"></textarea>
                    </div>



                    <div class="form-group">
                        <label class="bodyQuestion" for="">Enter additional comments on the desired action: IE, timing, fallback action, etc. 
                        </label>
                        <textarea class="form-control" id="" rows="2" v-model="audienceDefination.additional_comments"></textarea>
                    </div>


                    <div class="my-3 presentationBodyTitle">
                        <h4>Audience Problem</h4>
                    </div>

                    <div class="form-group">
                        <label class="bodyQuestion" for="">Broadly summarize the audience's problem.     </label>
                        <textarea class="form-control" id="" rows="2" v-model="audienceProblem.audience_problem"></textarea>
                    </div>


                    <div class="form-group">
                        <label class="bodyQuestion" for="">Deconstruct it: What are the problem's important manifestations / effects?   </label>
                    </div>

                    <div class="manifestations" v-for="(item, index) in manifestations" :key="index">
                        
                        <div class="form-group inlineForm manifestation">
                            <label class="bodyQuestion">Manifestation {{index + 1}}: </label>

                            <div class="input">
                                <textarea class="form-control" v-model="manifestations[index].body_question" rows="2"></textarea>
                            </div>

                            <div class="select-input">
                                <select class="form-control" v-model="manifestations[index].understand">
                                    <option value="">--select--</option>
                                    <option value="yes"> yes </option>
                                    <option value="partially"> partially </option>
                                    <option value="no"> No </option>
                                </select>
                            </div>                        
                        </div>

                    </div>

                    <div class="form-group inlineForm">
                        <label for="bodyQuestion"></label>
                        <div>
                            <a href="" @click.prevent="add_menifiestiaon">
                                Add Another Manifestation
                            </a>
                        </div>
                    </div>

                    <div>
                        <a href="pyramid" class="beginToPyramid"></a>
                        <button @click.prevent="submitData()" class="btn btn-primary" >
                            Begin work on your Pyramid
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <notifications animation-type="velocity"/>
        <loading v-show="showLoader"></loading>
    </div>
    
</template>

<script>
    import notify from './shared/Notify'
    import common from './shared/Common';

    require('../main');
    export default {
        props: ['clientId', 'presentation'],
        name: "PresentationProfile",
        data: function(){
            return {
                presentationProfile: {},
                audienceDefination: {},
                audienceProblem: {},
                manifestations:[{
                    body_question: '',
                    understand: ''
                }],
                showLoader: false,
                url: 'create-folder',
                formData: {
                    id: 0,
                    title: '',
                    description: ''
                },
                presentationFormData: {
                    id: 0,
                    title: '',
                    description: '',
                    client_id: 0,
                    is_sales_presentation: 1
                },
                presentationList: [],
                lists:[],
                search:'',
                clientName: '',
                profileUrl: "/",
                pyramidUrl: "/",
                storyboardUrl: "/",
                openingUrl: "/",
                blueprintUrl: "/",
            }
        },
        created: function () {
            this.showLoader = true;
            this.getPresentationList();
        },

        methods: {
            // get the list of all clients
            getPresentationList: function () {
                // GET ID FROM URL

                var currentUrl = window.location.pathname;
                //Break the path into segments
                var segments = currentUrl.split("/");
                var idIndex = segments.length - 1;


                this.showLoader = true;
                //const url = common.data().serverPath + 'getClients';

                Axios.get('/getClientPresentations/' + segments[idIndex]).then((response) => {
                    this.showLoader = false;
                console.log(response.data.data.records);
                    if (response.data.success) {
                    this.presentationList = response.data.data.records;
                } else {
                    notify.methods.notifyError(response.data.error.message);
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please refresh the page.');
            })
            },

            // Delete client
            deleteClient: function (id) { // save annual rate
                if (confirm("Are you sure you want to delete this Client?")) {
                    this.showLoader = true;
                    const url = common.data().serverPath + 'delete-Client/' + id;
                    Axios.delete(url)
                            .then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        notify.methods.notifySuccess(response.data.message);
                        this.getClientList();

                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                })
                .catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
                }
            },


            // edit client
            editClient(client){
                this.formData = {
                    id: client.id,
                    title: client.title,
                    description: client.description
                };
                $('#modelClient').modal('show');
            },

            // create/update new client
            createClient: function () {
                this.showLoader = true;
                const url = common.data().serverPath + 'create-client';

                Axios.post(url, this.formData).then((response) => {
                    this.showLoader = false;
                if (response.data.success) {
                    notify.methods.notifySuccess(response.data.message);
                    $('#modelClient').modal('hide');
                    this.getClientList();
                } else {
                    if (response.data.error.statusCode === 103) {
                        notify.methods.notifyError(response.data.error.errorDescription);
                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please try again.');
            })
            },


            // create/update new presentation
            createPresentation: function () {
                this.showLoader = true;
                const url = common.data().serverPath + 'create-presentation';

                Axios.post(url, this.presentationFormData).then((response) => {
                    this.showLoader = false;
                if (response.data.success) {
                    notify.methods.notifySuccess(response.data.message);
                    $('#modelPresentation').modal('hide');
                    this.getClientList();
                } else {
                    if (response.data.error.statusCode === 103) {
                        notify.methods.notifyError(response.data.error.errorDescription);
                    } else {
                        notify.methods.notifyError(response.data.error.message);
                    }
                }

            }).catch((error) => {
                    this.showLoader = false;
                notify.methods.notifyError('Something went wrong. Please try again.');
            })
            },

            /**
             * Open create folder pop-up
             */
            openCreateClientModal: function() {
                this.formData = {
                    id: 0,
                    title: '',
                    description: ''
                };
                $('#modelClient').modal('show');
            },
            /**
             * open create presentation pop-up
             */
            openCreatePresentationModal: function(client) {
                this.presentationFormData = {
                    id: 0,
                    title: '',
                    description: '',
                    client_id: client.id,
                    is_sales_presentation: 1
                };
                this.clientName = client.title;
                $('#modelPresentation').modal('show');
            },

            add_menifiestiaon: function() {

                this.manifestations.push({
                    body_question: '',
                    understand: ''
                });
            },

            submitData: function() {
                // window.location.replace('pyramid');
                this.showLoader = true;

                var data = {
                    presentationProfile: {
                        audience: this.presentationProfile.audience,
                        intrective_time: this.presentationProfile.intrective_time,
                        current_familiarity: this.presentationProfile.current_familiarity,
                        significant_opinions: this.presentationProfile.significant_opinions
                    },
                    audienceDefination: {
                        specific_action: this.audienceDefination.specific_action,
                        additional_comments: this.audienceDefination.additional_comments
                    },
                    audienceProblem: {
                        audience_problem: this.audienceProblem.audience_problem
                    },
                    manifestations: this.manifestations,
                    clientId: this.clientId,
                    presentationId: this.presentation.id
                }

                console.log(data);
                // return false;

                const url = common.data().serverPath + '/client-presentations/profile';
                Axios.post(url, data).then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        window.location.replace('pyramid');
                    } else {
                        if (response.data.error.statusCode === 103) {
                            notify.methods.notifyError(response.data.error.errorDescription);
                        } else {
                            notify.methods.notifyError(response.data.error.message);
                        }
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
            },

            getPersonProfileData: function() {
                Axios.get('/get-person-profile-data/' + this.clientId + '/' + this.presentation.id + '/get').then((response) => {
                    this.showLoader = false;
                    if (response.data.success) {
                        console.log(response.data);
                        this.presentationList = response.data.data.records;
                        this.presentationProfile = response.data.data.presentationProfile;
                        this.audienceProblem = response.data.data.audienceProblem;
                        this.audienceDefination = response.data.data.audienceDefination;
                        this.manifestations = response.data.data.manifestations;
                    } else {
                        // notify.methods.notifyError(response.data.error.message);
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please refresh the page.');
                })
            }

        },
        mounted() {
            this.getPersonProfileData();
            console.log(this.presentation);
            this.profileUrl = "/client-presentations/"+this.clientId+"/"+this.presentation.id+"/profile";
            this.pyramidUrl = "/client-presentations/"+this.clientId+"/"+this.presentation.id+"/pyramid";
            this.storyboardUrl = "/client-presentations/"+this.clientId+"/"+this.presentation.id+"/storyboard";
            this.openingUrl = "/client-presentations/"+this.clientId+"/"+this.presentation.id+"/opening";
            this.blueprintUrl = "/client-presentations/"+this.clientId+"/"+this.presentation.id+"/blueprint";
        },
        computed: {
            filteredItems() {
                return this.clientList.filter(client => {
                    return client.title.indexOf(this.search.toLowerCase()) > -1
                })
            }
            
        }
    }
</script>