<template>
    <div class="">
        
            <div class="row">
                <div class="col-md-3">
                    <div class="presentation-title">
                        <h3>Presentation Profile</h3>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="presentation-list">
                        <ul class="list-link">
                            <li>
                                <a v-bind:href="profileUrl" class="active">1</a>
                                <span> Presentation Profile</span>
                            </li>
                            <li>
                                <a v-bind:href="pyramidUrl" class="active">2</a>
                                <span> Pyramid of Planned Outcome</span>
                            </li>
                            <li>
                                <a v-bind:href="storyboardUrl">3</a>
                                <span> Storyboard Sequence</span>
                            </li>
                            <li>
                                <a v-bind:href="openingUrl">4</a>
                                <span>Opening and Closing</span>
                            </li>

                            <li>
                                <a v-bind:href="blueprintUrl">5</a>
                                <span>Presentation Blueprint</span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>


        <div>
           
            <div class="row my-5">
                <div class="col-md-8">
                    <div class="py-cloud">
                        <div class="cloud">
                            <div class="cloudText text-center">
                                <h4>Audience Problem </h4>
                                <h5>{{ presentationData.audienceProblem.audience_problem }}</h5>
                            </div>
                            
                        </div>

                    </div>

                    <!-- <div class="pyramid">   
                      <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    </div> -->


                    <div class="wrapper">
                        <div class="textImg"> 
                            <img src="/img/text.png" alt="">  
                        </div>
                        <div class="pyramid">
                            <div class="zone">
                                <div class="top-box">{{ presentationData.audienceDefination.specific_action }}</div>
                                </div>
                            <div class="zone d-flex align-items-center justify-content-center align-items-stretch">
                                <div class="sub-box" @click.self="switchSection('key', index, $event)"
                                    v-for="(item, index) in keyInsigts" :key="index"
                                >{{ keyInsigts[index].key }}</div>
                                
                            </div>
                            <div class="zone d-flex align-items-center justify-content-center align-items-stretch">
                                <div class="sub-box" @click.self="switchSection('datapoint', index, $event)"
                                    v-for="(item, index) in keyInsigts" :key="index"
                                >
                                    <ul v-for="(d_item, d_index) in keyInsigts[index].dataPoints" :key="d_index">
                                        <li 
                                            
                                            v-if="keyInsigts[index].dataPoints[d_index].title"
                                        >
                                            {{ keyInsigts[index].dataPoints[d_index].title }} ({{ keyInsigts[index].dataPoints[d_index].point }})
                                        </li>
                                    </ul>                                
                                </div>
                                
                            </div>
                        </div><!-- Closes .pyramid -->
                        
                    </div><!-- Closes .wrapper -->

                </div>
                <div class="col-md-4" v-if="!dataPointsEntry">
                    <div class="presentationHead">
                        <h2 class="m-0">Key Insights</h2>
                    </div>
                    <div class="presentationBody">
                        
                        <div v-for="(item, index) in keyInsigts" :key="index">
                            <div class="input-group mb-3">                                    
                                <input type="text" class="form-control" v-model="keyInsigts[index].key" aria-label="Amount (to the nearest dollar)" placeholder="Enter one key insight here">
                                <div class="input-group-append">
                                    <span class="input-group-text" @click.prevent="removeKeyInsight(index)"> x </span>
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <button @click.prevent="addKeyInsight()" class="btn btn-sm btn-primary"  v-if="keyInsigts.length < 5">
                                Add Another Key Insight
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-9">
                                    <button @click.prevent="toggleDataPointEntry()" class="btn btn-primary btn-custom" >
                                        Begin entering Data Points
                                    </button>
                                </div>
                                <div class="col-md-3 p-0 m-auto">
                                    <a href="#" class="" >
                                        Go back
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Of Presentation  Body Div-->
                    <div class="my-3 text-center">
                        <button @click.prevent="submitData()" class="btn btn-primary btn-custom" >
                            Begin Storyboard Sequence
                        </button>
                    </div>
                    <div class="mt-5 text-center">
                        <a href="#" class="btn btn-primary btn-custom" >
                            Open The Journal
                        </a>
                    </div>
                </div><!-- EO COL-MD-4 -->




                <div class="col-md-4" v-if="dataPointsEntry">
                        <div class="presentationHead">
                            <h2 class="m-0">Insights</h2>
                            <p>Data and Illustration</p>
                        </div>
                        <div class="presentationBody">
                           
                           <div v-for="(d_item, d_index) in keyInsigts[currentInsigtKey].dataPoints" :key="d_index">
                                <div class="input-group mb-3" >                                    
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Enter the most compelling data to prove the insight."
                                        v-model="keyInsigts[currentInsigtKey].dataPoints[d_index].title"
                                    >
                                    <div class="input-group-append">
                                        <span class="input-group-text" @click.prevent="removeDataPoint(currentInsigtKey, d_index)"> x </span>
                                    </div>
                                </div>
                           

                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Illustrate the insight with an image, graphic or story." name="" id=""  rows="3"
                                        v-model="keyInsigts[currentInsigtKey].dataPoints[d_index].point"
                                    ></textarea>
                                </div>
                           </div>

                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" @click.prevent="addDataPoint(keyInsigts[currentInsigtKey].dataPoints)" v-if="keyInsigts[currentInsigtKey].dataPoints.length < 5">
                                        Add another Data Point for this Insight
                                </button>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-9">
                                        <button v-if="(currentInsigtKey + 1) != keyInsigts.length" @click.prevent="addNextDataPoint()" class="btn btn-primary btn-custom" >
                                            Enter Data for the next Insight
                                        </button>
                                    </div>
                                    <div class="col-md-3 p-0 m-auto">
                                        <button @click.prevent="toggleDataPointEntry()" class="" >
                                            Go back
                                        </button>
                                    </div>
                                </div>
    
                            </div>
                        </div><!-- End Of Presentation  Body Div-->
                       <div class="my-3 text-center">
                            <button @click.prevent="submitData()" class="btn btn-primary btn-custom" >
                                Begin Storyboard Sequence
                            </button>
                        </div>
                        <div class="mt-5 text-center">
                            <a href="#" class="btn btn-primary btn-custom" >
                                Open The Journal
                            </a>
                        </div>
                    </div><!-- EO COL-MD-4 -->
            </div><!-- EO ROW -->

        </div><!-- EO DIV -->

        <notifications animation-type="velocity"/>
        <loading v-show="showLoader"></loading>
    </div>
    
</template>

<script>
    import notify from './shared/Notify'
    import common from './shared/Common';

    export default {
        props: ['presentationData', 'clientId', 'presentationObj'],
        name: "PyramidComponent",
        data: function(){
            return {
                showLoader: false,
                keyInsigts: [
                    {key: '', dataPoints: [{title: '', point: ''}]}
                ],
                currentInsigtKey: 0,
                dataPointsEntry: false,
                profileUrl: "/",
                pyramidUrl: "/",
                storyboardUrl: "/",
                openingUrl: "/",
                blueprintUrl: "/",
            }
        },
        created: function () {
        },

        methods: {
            removeKeyInsight: function(index) {
                if(this.keyInsigts.length > 1){
                    this.keyInsigts.splice(index, 1);
                }
            },

            addKeyInsight: function() {
                this.keyInsigts.push({key: '', dataPoints: [{title: '', point: ''}]});
            },

            switchSection: function(item, index, event) {
                $(".sub-box").removeClass("selected");
                $(event.target).addClass('selected');

                if(item == "key"){
                    this.dataPointsEntry = false;
                } else {
                    this.dataPointsEntry = true;
                    this.currentInsigtKey = index;
                }
            },

            addDataPoint: function(dataPoints) {
                dataPoints.push({title: '', point: ''});
            },

            removeDataPoint: function(key_index, data_index) {
                if(this.keyInsigts[key_index].dataPoints.length > 1){
                    this.keyInsigts[key_index].dataPoints.splice(data_index, 1);
                }
            },

            toggleDataPointEntry: function() {
                this.dataPointsEntry = !this.dataPointsEntry;
            },

            addNextDataPoint: function() {
                if(this.currentInsigtKey < this.keyInsigts.length){
                    this.currentInsigtKey = this.currentInsigtKey + 1;
                }
                console.log(this.currentInsigtKey);
            },

            submitData: function() {
                this.showLoader = true;

                var data = {
                    keyInsigts: this.keyInsigts,
                    clientId: this.clientId,
                    presentationId: this.presentationObj.id
                }

                const url = common.data().serverPath + '/client-presentations/pyramid';
                Axios.post(url, data).then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        window.location.replace('storyboard');
                    } else {
                        if (response.data.error.statusCode === 103) {
                            notify.methods.notifyError(response.data.error.errorDescription);
                        } else {
                            notify.methods.notifyError(response.data.error.message);
                        }
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
            },

            getPyramidData: function() {
                Axios.get('/get-person-pyramid-data/' + this.clientId + '/' + this.presentationObj.id + '/get').then((response) => {
                    this.showLoader = false;
                    if (response.data.success) {
                        this.keyInsigts = response.data.data.keyInsigts;
                    } else {
                        // notify.methods.notifyError(response.data.error.message);
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please refresh the page.');
                })
            }

        },
        mounted(){
            this.getPyramidData();
            this.profileUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/profile";
            this.pyramidUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/pyramid";
            this.storyboardUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/storyboard";
            this.openingUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/opening";
            this.blueprintUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/blueprint";
        },
        computed: {
        }
    }
</script>



