<template>
    <div class="">
            <div class="row">
                <div class="col-md-3">
                    <div class="presentation-title">
                        <h3>Presentation Profile</h3>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="presentation-list">
                        <ul class="list-link">
                            <li>
                                <a v-bind:href="profileUrl" class="active">1</a>
                                <span> Presentation Profile</span>
                            </li>
                            <li>
                                <a v-bind:href="pyramidUrl" class="active">2</a>
                                <span> Pyramid of Planned Outcome</span>
                            </li>
                            <li>
                                <a v-bind:href="storyboardUrl" class="active">3</a>
                                <span> Storyboard Sequence</span>
                            </li>
                            <li>
                                <a v-bind:href="openingUrl">4</a>
                                <span>Opening and Closing</span>
                            </li>

                            <li>
                                <a v-bind:href="blueprintUrl">5</a>
                                <span>Presentation Blueprint</span>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        <div>
           
            
            <div class="storyMain mt-5">
                <h4 class="titleColor">Opening and Problem Analysis</h4>
                <div class="storyInfo">You will enter your opening, including the discussion of the audience problem, in the next step.</div>
                <div class="mt-4">
                    <h4 class="titleColor">Transition to the First Insight</h4>
                    <div class="transition">
                        <div class="form-group mb-0">
                            <textarea 
                                class="w-100 border-0 form-control" 
                                rows="2" 
                                placeholder="Enter your transition here."
                                v-model="transitions.firstInsight"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="titleColor">Run of Insight</h4>
                    <div class="insightMain">
                        <div v-for="(keyinsigt, index) in pyramidOutcome.keyInsigts" :key="index">
                            <div class="insightQuestion">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 class="m-0">
                                            <span class="text-uppercase">{{ numberToWords(index + 1) }}</span> INSIGHT
                                        </h4>
                                    </div>
                                    <div class="col-md-8">
                                        {{ keyinsigt.key }}
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-caret-up"></i>
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="insightTransition mt-5" v-if="pyramidOutcome.keyInsigts.length > (index + 1)">
                                <div class="row">
                                    <div class="col-md-2 m-auto text-center">
                                        <h5>
                                            <span class="text-capitalize">{{ numberToWords(index + 1) }}</span> Transition
                                        </h5>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <textarea 
                                                class="form-control" 
                                                rows="2" 
                                                placeholder="Enter your transition here. View the tutorial video and click the Question Mark icon above for additional help."
                                                v-model="transitions[index+1]"
                                            ></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h4 class="titleColor">Transition to the Closing</h4>
                            <div class="transition">
                                <div class="form-group mb-0">
                                    <textarea 
                                        class="w-100 border-0 form-control" 
                                        rows="2" 
                                        placeholder="Enter your transition here."
                                        v-model="transitions.closingInsight"
                                    ></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4 class="titleColor">Closing</h4>
                            <div class="storyInfo">You will enter your closing statement in the next step.</div>
                        </div>

                        <div class="my-5 ml-5">
                            <button @click.prevent="storeTransitions()" class="btn btn-primary btn-custom" >
                                Design Your Opening & Closing
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <notifications animation-type="velocity"/>
        <loading v-show="showLoader"></loading>
    </div>
</template>

<script>
    import notify from './shared/Notify'
    import common from './shared/Common';
    var converter = require('number-to-words');

    require('../main');
    export default {
        props: ['pyramidOutcome', 'clientId', 'presentationObj'],
        name: "StoryBoard",
        data: function(){
            return {
                showLoader: false,
                transitions: [],
                profileUrl: "/",
                pyramidUrl: "/",
                storyboardUrl: "/",
                openingUrl: "/",
                blueprintUrl: "/",
            }
        },
        created: function () {
        },

        methods: {
            numberToWords: function(number) {
                return converter.toWordsOrdinal(number);
            },

            storeTransitions: function() {
                var data = {
                    transitions: this.transitions,
                    closingInsight: this.transitions.closingInsight,
                    firstInsight: this.transitions.firstInsight,
                    clientId: this.clientId,
                    presentationId: this.presentationObj.id
                }

                const url = common.data().serverPath + '/client-presentations/transitions';
                Axios.post(url, data).then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        window.location.replace('opening');
                    } else {
                        if (response.data.error.statusCode === 103) {
                            notify.methods.notifyError(response.data.error.errorDescription);
                        } else {
                            notify.methods.notifyError(response.data.error.message);
                        }
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
            },

            getTransitions: function() {
                Axios.get('/get-transitions/' + this.clientId + '/' + this.presentationObj.id + '/get').then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        this.transitions = response.data.data.transitions;
                        this.transitions.closingInsight = response.data.data.closingInsight;
                        this.transitions.firstInsight = response.data.data.firstInsight;
                    } else {
                        // notify.methods.notifyError(response.data.error.message);
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please refresh the page.');
                })
            }
        },
        mounted(){
            console.log(this.pyramidOutcome, this.clientId);
            this.getTransitions();
            this.profileUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/profile";
            this.pyramidUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/pyramid";
            this.storyboardUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/storyboard";
            this.openingUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/opening";
            this.blueprintUrl = "/client-presentations/"+this.clientId+"/"+this.presentationObj.id+"/blueprint";
        },
        computed: {
        }
    }
</script>