<template>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="presentationHead">
                <h2 class="m-0">User Profile</h2>
            </div>              
            <div class="presentationBody">
                <div class="form-group">
                    <label class="bodyQuestion" for="emailInput">Email</label>
                    <input type="email" class="form-control" v-model="email" id="emailInput" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label class="bodyQuestion" for="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput" v-model="name" placeholder="Enter name">
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9">
                            <button @click.prevent="updateUser()" class="btn btn-primary btn-custom" >
                                Save
                            </button>
                        </div>
                        <div class="col-md-3 p-0 m-auto">
                            <a href="/" class="" >
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</template>

<script>
    import notify from './shared/Notify'
    import common from './shared/Common';

    export default {
        props: ['userProfile'],
        name: "StoryBoard",
        data: function(){
            return {
                showLoader: false,
                email: '',
                name: ''
            }
        },
        created: function () {
        },
        methods: {
            updateUser: function() {
                var data = {
                    email: this.email,
                    name: this.name
                }
                Axios.post('update-user', data).then((response) => {
                        this.showLoader = false;
                    if (response.data.success) {
                        console.log(response.data);
                        notify.methods.notifySuccess(response.data.message);
                        window.location.replace('/user-profile');
                    } else {
                        if (response.data.error.statusCode === 103) {
                            notify.methods.notifyError(response.data.error.errorDescription);
                        } else {
                            notify.methods.notifyError(response.data.error.message);
                        }
                    }

                }).catch((error) => {
                        this.showLoader = false;
                    notify.methods.notifyError('Something went wrong. Please try again.');
                })
            }
        },
        mounted() {
            this.email = this.userProfile.email;
            this.name = this.userProfile.name;
            console.log('Component mounted.')
        }
    }
</script>